/* TERMS-MENU */

.dce-menu ul{
    margin: 0;
}
.dce-menu.horizontal ul{
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
    align-content: flex-start;
}
.menu-align-left .dce-menu.horizontal ul{
    justify-content: flex-start;
}
.menu-align-right .dce-menu.horizontal ul{
    justify-content: flex-end;
}
.menu-align-center .dce-menu.horizontal ul{
    justify-content: center;
}

.menu-align-left .dce-menu img{
    margin-left: 0;
    margin-right: auto;
}
.menu-align-right .dce-menu img{
    margin-left: auto;
    margin-right: 0;
}
.menu-align-center .dce-menu img{
    margin-left: auto;
    margin-right: auto;
}
.dce-menu.horizontal ul li{
    
}
.dce-menu ul ul.second-level{
    padding-top: 7px;
}
.dce-menu .dce-menu-parent-title{
    margin-top: 0;
    line-height: 1;
}
.dce-menu li{
    list-style-type: none;
}
.dce-menu.horizontal{
    
}
.dce-menu.horizontal li{
    display: inline-block;
}
.dce-menu.horizontal li:first-child{
    border: none !important;
}
.align-menu-left .dce-menu.horizontal li img{
    margin: 0 auto 0 0;
}
.align-menu-right .dce-menu.horizontal li img{
    margin: 0 0 0 auto;
}
.align-menu-center .dce-menu.horizontal li img{
    margin: 0 auto;
}
.dce-menu.vertical li:last-child{
    margin-bottom: 0 !important;
}
.dce-menu.vertical{
    display: block;
}
.dce-menu-menu.vertical li{
   
}
.elementor-editor-active .elementor-widget-taxonomy-terms-menu.elementor-widget.elementor-loading {
    opacity: 1;
}
.dce-menu .menu-align-center{
   
}
.dce-menu .menu-align-child-left{
    
}
.dce-menu  .menu-align-child-right{
    
}
.dce-menu .box{
    padding: 10px;
    border: 1px solid #333;
    display: block;
}
.menu-align-justify .dce-menu.horizontal{
    display: block;
  text-align: center;
}
.dce-menu .dce-parent-title{
    margin: 0;
}